language: python # => 1
sudo: true
python: # => 2
    - "2.7"
services: # => 3
    - mysql
env: # => 4
    -DJANGO=1.8 DB=mysql
install: # => 5
    - pip install -r requirements.txt
before_script: # => 6
    - echo "USE mysql;\nUPDATE user SET password=PASSWORD('12345678') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
    - mysql -e 'create database practica2_ayd1;' -u root -p12345678
    - mysql -e 'create database test;' -u root -p12345678
script: # => 7
    - python manage.py makemigrations
    - python manage.py migrate
    - python manage.py test
