{% extends "LogIn/loggedin.html" %}
{% block title %}
 Formulario de Articulos
{% endblock %}
 
{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                <h2>¿Desea Eliminar el articulo {{articulo.nombre}}?</h2>
                <a class="navbar-brand" class="btn btn-block btn-warning" href="{% url 'list_articulos' %}">Regresar</a>    
               <input type="submit" class="btn btn-block btn-success" value="Eliminar">
        </form>
        </div>
    </div>
</div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
 <div class="navbar navbar-inverse navbar-fixed-bottom">
 <center style="padding-top: 12px">
 <small style="color: #fff">Footer Form</small>
     </center>
 </div>
{% endblock %}
<!--finaliza el bloque footer-->