{% extends "LogIn/loggedin.html" %}
{% block title %}
 Listado de Posts
{% endblock %}
 
{% block content %}
<div class="row">
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel panel-default">
            <div class="panel-body">

                    <div class="table table-responsive"> 
                        
                    <table class="table table-striped">
                        <thead >
                            <tr class="warning">
                                <td>Nombre Seccion</td>
                                <td>Descripcion</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                    <tbody>
                        {%  if secciones %}
                        {%  for seccion in secciones %}
                            <tr>
                                <td>{{seccion.nombre}}</td>
                                <td>{{seccion.descripcion}}</td>
                                <td>

                                        <a href="{% url 'update_seccion' seccion.id %}" class="btn btn-success">Update</a>
                                        <a href="{% url 'delete_seccion' seccion.id %}" class="btn btn-danger">Remove</a>
                                                                  
                                </td>
                                
                            </tr>
                        {%  endfor %}
                        {%  else %}
                            <h1>No hay registros</h1>
                        {%  endif %}
                    </tbody>
                    </table>
                    </div>
                    </div>            
    </div>

{% endblock %}
{% block footer %}
 <div class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="text-center" style="padding-top: 12px">
 <small style="color: #fff">Footer Secciones List</small>
     </div>
 </div>
{% endblock %}
