{% extends "secciones.html" %}
<!--heredamos el bloque title-->
{% block title %}
 <!--establecemos el titulo en el bloque title-->
 Listado de Posts
{% endblock %}
<!--finaliza el bloque title-->

<!--heredamos el bloque content-->
{% block content %}
<div class="row">
    <!-- mostramos los mensajes flash -->
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Carrito</h2>
            <h5>Usuario: {{ carrito.usuario_fk.username }}</h5>
            <h2 style="color:blue">Monto: {{ carrito.monto_a_pagar }}</h2>
            {% if detalle|length > 0 %}
                {% for det in detalle %}
                     <div class="col-md-12" style="margin-bottom: 6px">
                        <div class="col-md-8">
                            Articulo: {{ det.id }}, Cantidad: {{ det.cantidad_articulos }}
                            <img src="/Articulos/{{det.articulo_fk.imagen}}" width="100" height="100">
                         </div>
                         <div class="col-md-4">
                         </div>
                     </div>
                {% endfor %}
            {% else %}
                <p>No hay carrito</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
 <div class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="text-center" style="padding-top: 12px">
 <small style="color: #fff">Footer Secciones List</small>
     </div>
 </div>
{% endblock %}
<!--finaliza el bloque footer-->