{% extends "LogIn/loggedin.html" %}
<!--heredamos el bloque title-->
{% block title %}
 <!--establecemos el titulo en el bloque title-->
 Listado de Posts
{% endblock %}
<!--finaliza el bloque title-->
 
<!--heredamos el bloque content-->
{% block content %}
<div class="row">

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if facturas|length > 0 %}
                <h2>Facturas</h2>
                {% for factura in facturas %}
                 {% if request.user.is_authenticated %}
                    {% if request.user.tipo == 0 %}       
                    <div class="col-md-12" style="margin-bottom: 6px">
                        <div class="col-md-8">
                            <hr>
                            Usuario: {{ factura.usuario_fk }}<br>
                            Detalle:
                            <pre>
                                {{ factura.descripcion }}
                            </pre>
                           
                         </div>
                     </div>
                    {%else%}
                    {% if request.user.id == factura.usuario_fk.id %}       
                    <div class="col-md-12" style="margin-bottom: 6px">
                        <div class="col-md-8">
                            <hr>
                            Usuario: {{ factura.usuario_fk }}<br>
                            Detalle:
                            <pre>
                                {{ factura.descripcion }}
                            </pre>
                           
                         </div>
                     </div>
                    {%endif%}
                    {%endif%} 
                    {%endif%} 
                 
                {% endfor %}
                <hr>
            {% else %}
                <p>No hay posts</p>
            {% endif %}
        </div>
    </div>
</div>




{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
 <div class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="text-center" style="padding-top: 12px">
 <small style="color: #fff">Footer Secciones List</small>
     </div>
 </div>
{% endblock %}
<!--finaliza el bloque footer-->
