{% extends "LogIn/loggedin.html" %}
{%load staticfiles%}

{% block title %}
 Listado de Posts
{% endblock %}
 
{% block content %}
<div class="row">
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="panel panel-default">
                <div class="panel-body">
    
                        <div class="table table-responsive"> 
                            
                        <table class="table table-striped">
                            <thead >
                                <tr class="warning">
                                    <td>Nombre Articulo</td>
                                    <td>Descripcion</td>
                                    <td>Precio</td>
                                    <td>Imagen</td>
                                    <td>Seccion</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        <tbody>
                            {%  if articulos %}
                            {%  for articulo in articulos %}
                                <tr>
                                    <td>{{articulo.nombre}}</td>
                                    <td>{{articulo.descripcion}}</td>
                                    <td>{{articulo.precio}}</td>
                                    <td><img src="/Articulos/{{articulo.imagen}}" width="100" height="100"></td>
                                    <td>{{articulo.seccion_fk.nombre}}</td>
                                    
                                    <td>
    
                                            <a id="{{forloop.counter}}" href="{% url 'update_articulo' articulo.id %}" class="btn btn-success">Update</a>
                                            <a id="borrar{{forloop.counter}}" href="{% url 'delete_articulo' articulo.id %}" class="btn btn-danger">Remove</a>
                                                                                    
                                    </td>
                                    
                                </tr>
                            {%  endfor %}
                            {%  else %}
                                <h1>No hay registros</h1>
                            {%  endif %}
                        </tbody>
                        </table>
                        </div>
                        </div>            
        </div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
 <div class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="text-center" style="padding-top: 12px">
 <small style="color: #fff">Footer Articulos List</small>
     </div>
 </div>
{% endblock %}
<!--finaliza el bloque footer-->